.search {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.search-bottons{
    width:37rem ;
    display: flex;
    flex-direction: column;
}
.search-logo{
    width: 100%;
    height: 10rem;
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search-bar{
    width: 100%;
    height: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 40px 40px 40px 40px ;
    
}
.search-input{
    font-size:1rem;
    width: 100%;
    height: 1rem;
    margin: 0 1rem 0 1rem;
    border: none;
    outline: none;
    margin: 0.2ren;
    
}
