.search {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bottons{
    width:30rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-logo{
    width: 100%;
    height: 10rem;
    background-image: url(../../assets/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.search-bar{
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 40px 40px 40px 40px ;
    box-shadow: -3px -1px 15px -5px rgba(0,0,0,0.2);
    
}
.search-input{
    font-size:0.9rem;
    width: 100%;
    height: 1rem;
    margin: 0 1rem 0 1rem;
    border: none;
    outline: none;
    margin: 0.2ren;
    
}


@media (max-width : 500px) {
    .search-bar{
        width:30rem;
        padding: 1rem;
        height: 4.2rem;
    
    }

    .search-logo{
        width: 100%;
        height: 20rem;
        background-image: url(../../assets/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .search-input{
        font-size:1.8rem;
        height: 3rem;
    
    }
  
  }